.container {
    display: flex;


}

.item {
    margin: 0 20px;
}

.botones-container {
    margin: 0 20px;
}


.input-container {
   display: flex;
  
}

.item2
{
    margin: 0 50px;
}

.table-container {
 
   
    margin: 0 30px;
  }